#logo{
    position: relative;
    left: 474px;
    top: 81px;
    width: 244px;
    height: 82px;
}
#about{
    left: 23px;
}
#store {
    left: 75px;
}
.top-links{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 12.5px;
    position: fixed;
    top: 19px;
}
.top-links:hover{
    text-decoration: underline;
}
#search-bar{
    position: relative;
    left: 335px;
    top: 101px;
    width: 521px;
    height: 41px;
    border-radius: 90px;
    border-width: 0.09px;
    border-style: solid;
    outline-style: none;
}
#search-icon{
    position: relative;
    left: 348px;
    top: 68px;
    width: 18px;
    filter: invert(65%);
}
button{
    font-family:Arial, Helvetica, sans-serif;
    border-style: none;
    height: 32px;
    position: relative;
    top: 127px;
    font-size: 12.5px;
    background-color: rgba(245, 245, 245, 0.76);
    border-radius: 4px;
}
button:hover{
    border-style: solid;
    border-width: 0.1px;
}
#search-button{
    left:446px;
    width: 115px;
}
#lucky-button{
    left: 452px;
    width: 126px;
}