.text{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
}
#logo{
    position: relative;
    left: 474px;
    top: 81px;
    width: 244px;
    height: 82px;
}
#about{
    left: 23px;
}
#store {
    left: 75px;
}
#gmail {
    left: 960px;
    font-size: 11.2px;
}
#images {
    left: 1005px;
    font-size:11.2px;
}
#apps {
    left: 1065px;
    top: 13px;
}
.top-links{
    color: black;
    font-size: 12.5px;
    position: fixed;
    top: 21px;
}
#signin{
    background-color: #1a73e8;
    color: white;
    left: 1105px;
    top: 9px;
    width: 85px;
    position: fixed;
}

#search-bar{
    position: relative;
    left: 335px;
    top: 101px;
    width: 521px;
    height: 41px;
    border-radius: 90px;
    border-width: 0.09px;
    border-style: solid;
    outline-style: none;
}
#search-icon{
    position: relative;
    left: 348px;
    top: 68px;
    width: 18px;
    filter: invert(65%);
}
button{
    border-style: none;
    height: 32px;
    position: relative;
    top: 127px;
    font-size: 12.5px;
    background-color: rgba(245, 245, 245, 0.76);
    border-radius: 4px;
}
button:hover{
    border-style: solid;
    border-width: 0.1px;
}
#search-button{
    left:446px;
    width: 115px;
}
#lucky-button{
    left: 452px;
    width: 126px;
}
.offtxt{
    font-size: 12px;
    position: relative;
    left: 512px;
    top: 140px;
}
.grey-box{
    background: #f2f2f2;
    width: 1500px;
    height: 70px;
    position: relative;
    top:205px;
    right: 600px;
}
hr{
    position: relative;
    top: 38px;
    height: 50%;
    color: rgb(219, 216, 216);
}

#canada {
    right: 493px;
    top: 148px;
    font-size: 13px;
}
#canada:hover{
    text-decoration: underline;
}
#ad{
    right: 485px;
    top:171px;
}
#ad:hover{
    text-decoration: underline;
}
#bus{
    top:158px;
    right: 400px;
}
#how{
    top:144px;
    right: 325px;
}

